@{
    ViewData["Title"] = "Create Ad";
}

<h2>Create ad</h2>

<form method="get" action="/Home/GetSubscriber">
    <div>
        <label>
            <input type="radio" name="advertiserType" value="subscriber" checked />
            Subscriber
        </label>

        <label>
            <input type="radio" name="advertiserType" value="company" />
            Company
        </label>
    </div>

    <div>
        <label>Subscription number:</label>
        <input type="number" name="subscriptionNumber" />
    </div>

    <button type="submit">Fetch subscriber</button>
</form>
